
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/MyContent.css" rel="stylesheet" />
</head>
<body>
    @if (ViewBag.Thongbao != null)
    {
        <div class="alert-success">
            @ViewBag.Thongbao
        </div>
    }
    <div class="content-section">
        <div class="container">
            <div class="col-md-6">
                <h2>Đăng nhập</h2>
                <form class="contactform" action="/NguoiDung/DangNhap" method="post">
                    <p>
                        <input type="text" name="TaiKhoan" placeholder="Tên tài khoản" required />
                    </p>
                    <p>
                        <input type="password" name="MatKhau" placeholder="Mật khẩu" required />
                    </p>
                    @if (ViewBag.Thongbao1 != null)
                    {
                        <div class="alert-success">
                            @ViewBag.Thongbao1
                        </div>
                    }
                    <input type="submit" class="mainBtn" value="Đăng nhập" />
                </form>
            </div>
        </div>
    </div>
</body>


